@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
    }
    background-color: v.$rojo;
    padding: 4rem 2rem;

    h2 {
        color: v.$blanco;
        @include m.tablet {
            text-align: left;
            margin: 0;
        }
    }
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    
    @include m.tablet{
    flex-direction: row;

    }
    a {
        color: v.$gris;
        font-size: 1.5rem;

        &:hover,
        &.active {
            color: v.$blanco;
        }
    }
}
