$fuente_principal : "Montserrat", sans-serif;

// Colores
$beige:#ddc8a7;
$rojo: #951f2b;//#8b2037;
$gris:rgb(196, 196, 196);
$dorado: #c3aa72;
$negro: #000000;
$blanco: #FFFFFF;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;